@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

body{
    font-family: 'Open Sans', sans-serif;
}

:root {
    --primary-color:#FDE68A
}

/* container */
.container{
    padding : 0rem 1rem;
}

.container-center{
    max-width: 600px;
    margin: auto;
}


hr{
    margin: 2rem 0rem;
}

/* links */
.link {
    text-decoration: none;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
}

.link-primary {
    background-color: var(--primary-color);
    
    color:royalblue;
}
.link-secondary {

    color:royalblue;
    border: 1px solid var(--primary-color)
}